.App {
  font-family: sans-serif;
  font-weight:800;
  font-size:40px;
  color: #3d405b;
  text-align: center;
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:100vh;
  background:#e07a5f;
}
